/* configurações de estilo para a página de recuperação de palavra-passe */

* { /* config. global*/
	margin: 0px !important;
}

div.contentor {
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

div.conteudo {
	height: 400px;
	height: 200px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}